language: R
cache: packages
sudo: required
warnings_are_errors: false

matrix:
  include:
    - os: linux
      r: oldrel
    - os: linux
      r: release
    - os: linux
      r: devel
      env: R_CODECOV=true

r_packages:
    BH,
    cctools,
    graphics,
    KernSmooth,
    MASS,
    qrng,
    Rcpp,
    RcppEigen
    stats,
    utils

before_install:
  ### Linux
  - if [ $TRAVIS_OS_NAME == linux ]; then sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y; fi
  - if [ $TRAVIS_OS_NAME == linux ]; then sudo apt-get update -q; fi
  - if [ $TRAVIS_OS_NAME == linux ]; then sudo apt-get install gcc-5 g++-5 gfortran-5; fi
  - if [ $TRAVIS_OS_NAME == linux ]; then sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 100; fi
  - if [ $TRAVIS_OS_NAME == linux ]; then sudo update-alternatives --install /usr/bin/gfortran gfortran /usr/bin/gfortran-5 100; fi

repos:
  CRAN: http://cran.rstudio.com

after_success:
  - if [ "${R_CODECOV}" ]; Rscript -e 'covr::codecov()'; fi
